@import '../../Colors.scss';

.non-sticky{
    display: flex;
    justify-content: center;
    
    z-index: 100;
    
    background: $dark;
}

$stickyBG: transparentize($dark, 0.5);

.sticky{
    transition: all ease-in 0.25s;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: $stickyBG;
    z-index: 100;
}


