@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "./Colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

$enable-gradients: true;

html *{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}

.transform-half-l{
    transition: transform 0.25s;
}
.transform-half-u{
    transition: transform 0.25s;
}
.transform-half-d{
    transition: transform 0.25s;
}
.transform-half-r{
    transition: transform 0.25s;
}
.transform-half-l:hover{
    transform: rotate(10deg); 
}
.transform-half-r:hover{
    transform: rotate(-10deg); 
}
.transform-half-u:hover{
    transform: translate(0, -0.1rem);
}
.transform-half-d:hover{
    transform: translateY(-0.1rem);
}

@import "~bootstrap/scss/bootstrap";